PORT=4000

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_password
DB_NAME=smart_hotel

JWT_SECRET=change_me_in_production
JWT_EXPIRES_IN=7d

VNP_TMN_CODE=your_vnp_tmn_code
VNP_HASH_SECRET=your_vnp_hash_secret
VNP_HOST=https://sandbox.vnpayment.vn
VNP_RETURN_URL=http://localhost:3000/payment/vnpay-return
